.carousel-indicators {
    bottom: -2rem;
}

.carousel-control-prev {
    width: 1.9rem;
}

.carousel-control-next {
    width: 1.9rem;
}

.homepage-carousel-div-28rem {
    top: 5rem;
    left: 7rem;
    width: 28rem;
}

.homepage-carousel-div-text {
    margin-top: 2rem;
    font-weight: 600;
}

.homepage-carousel-div-heading-letter0 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0;
    text-shadow: 3px 3px 0 rgb(34 34 34 / 20%);
}

.homepage-carousel-div-heading-letter4 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-shadow: 3px 3px 0 rgb(34 34 34 / 20%);
}

.homepage-carousel-2-div-button {
    color: #fff;
    font-weight: 500;
}

/* responsive */

@media screen and (max-width: 991px) {
    .carouselItem {
        height: 40rem;
    }

    .carouselItemDiv-26 {
        position: static;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        top: 5rem;
        left: 7rem;
        width: 26rem;
    }

    .homepage-carousel-div-heading-letter4 {
        font-size: 2.5rem;
    }

    .carouselItem-1-ImgDiv img {
        height: 22rem;
        margin: 2rem auto 2rem auto !important;
    }
}

@media screen and (min-width: 992px) {
    .carouselItem {
        height: 29.05rem;
    }

    .carouselItemDiv-26 {
        position: absolute;
        top: 5rem;
        left: 7rem;
        width: 26rem;
    }

    .carouselItem-1-ImgDiv img {
        margin-left: auto;
        height: 27rem;
    }
}