.topbar {
    height: 42px;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    word-spacing: 0;
    font-family: 'Poppins', sans-serif;
}

/* contacts */

.contacts {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 75px;
}

.contact {
    margin-right: 33px;
    display: flex;
    align-items: center;
}

.contact p {
    margin-bottom: 0;
}

.icon {
    margin-right: 7px;
}

/* social medias */

.social-medias {
    display: flex;
    justify-content: start;
}

.social-media-icon {
    margin-right: 25px;
}

.social-media-icon:last-child {
    margin-right: 75px;
}