.carouselItem {
    background-color: transparent;
}

.carousel-indicators {
    bottom: -2rem;
}

.carousel-control-prev {
    width: 1.9rem;
}

.carousel-control-next {
    width: 1.9rem;
}

.carouselItemDiv-text {
    margin-top: 2rem;
    font-weight: 600;
}

.carouselItemDiv-heading-letter0 {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 0;
    text-shadow: 3px 3px 0 rgb(34 34 34 / 20%);
}

.carouselItemDiv-heading-letter4 {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-shadow: 3px 3px 0 rgb(34 34 34 / 20%);
}

.carouselItemDivButton {
    color: #fff;
    font-weight: 500;
}

/* responsive */

@media screen and (max-width: 991px) {
    .carouselItem {
        height: 40rem;
    }

    .carouselItemDiv-26 {
        position: static;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        top: 5rem;
        left: 7rem;
        width: 26rem;
    }

    .carouselItemDiv-28 {
        position: static;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        top: 5rem;
        left: 7rem;
        width: 28rem;
    }

    .carouselItem-1-ImgDiv img {
        height: 22rem;
        margin: 2rem auto 2rem auto !important;
    }

    .carouselItem-2-ImgDiv img {
        height: 16rem;
        margin: 2rem auto 2rem auto !important;
    }

    .carouselItem-3-ImgDiv img {
        height: 21.5rem;
        margin: 2rem auto 2rem auto !important;
    }

    .carouselItem-4-ImgDiv img {
        height: 15rem;
        margin: 2rem auto 2rem auto !important;
    }
}

@media screen and (min-width: 992px) {
    .carouselItem {
        height: 29.05rem;
    }

    .carouselItemDiv-26 {
        position: absolute;
        top: 5rem;
        left: 7rem;
        width: 26rem;
    }

    .carouselItemDiv-28 {
        position: absolute;
        top: 5rem;
        left: 7rem;
        width: 28rem;
    }

    .carouselItem-1-ImgDiv img,
    .carouselItem-2-ImgDiv img,
    .carouselItem-3-ImgDiv img,
    .carouselItem-4-ImgDiv img
    {
        margin-left: auto;
        height: 27rem;
    }
}

/* for mobile */

@media screen and (max-width: 550px) {

    .carouselItem-1-ImgDiv,
    .carouselItem-3-ImgDiv {
        margin-top: 3rem;
    }
    
    .carouselItem-1-ImgDiv img,
    .carouselItem-3-ImgDiv img {
        height: 18rem;
    }

    .carouselItemDivButton {
        margin-top: 15px;
    }

    .carouselItemDiv-heading-letter4,
    .carouselItemDiv-heading-letter0 {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 450px) {
    .carouselItem-1-ImgDiv,
    .carouselItem-3-ImgDiv {
        margin-top: 5rem;
    }
    
    .carouselItem-1-ImgDiv img,
    .carouselItem-3-ImgDiv img {
        height: 15rem;
    }

    .carouselItemDiv-heading-letter4,
    .carouselItemDiv-heading-letter0 {
        font-size: 1.7rem;
    }
}


/* NOT: contentlere tek tek 1, 2, 3 ve 4 verip burada ayarlama yapacaksın mobil için. */
@media screen and (max-width: 430px) {
    .carousel-3-Content {
        margin-right: 2rem;
    }
}


@media screen and (max-width: 410px) {
    .carousel-1-Content,
    .carousel-2-Content {
        margin-right: 1rem;
    }

    .carousel-3-Content,
    .carousel-4-Content {
        margin-right: 3rem;
    }
}

@media screen and (max-width: 390px) {
    .carousel-2-Content {
        margin-right: 2rem;
    }

    .carousel-3-Content,
    .carousel-4-Content {
        margin-right: 4rem;
    }
}

@media screen and (max-width: 370px) {
    .carousel-1-Content,
    .carousel-2-Content {
        margin-right: 3rem;
    }

    .carousel-3-Content,
    .carousel-4-Content {
        margin-right: 5rem;
    }
}